<div class="page-header">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('./assets/logos/facebook_cover_photo_2.png');">
    </div>
    <div class="content-center">
        <div class="container">
        </div>
    </div>
</div>
<!--<div class="section section-about-us" style="padding-bottom: 20px">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 ml-auto mr-auto text-center">-->
                <!--<h2 class="title">Who We Are</h2>-->
                <!--<hr>-->
                <!--<h5 class="description">-->
                    <!--Founded in March, 2019 by Ashley Perera. We're a relatively new company, but that doesn't mean-->
                    <!--we're not experienced. We product clean, concise web designs tailored to fit your exact needs.-->
                <!--</h5>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="section section-about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">What We Do</h2>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                    <h3 class="title">Web Development</h3>
                    </div>
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-pencil-alt"></i></h1>
                        <h2>Design</h2>
                        <p>
                            First we gather your requirements and branding to create the initial design for your
                            site.
                        </p>
                        <div class="list-group m-auto" style="width: 75%">
                            <h5>
                                <i class="fas fa-mobile-alt pull-left mt-1"></i>
                                Mobile First Designs
                            </h5>
                            <h5>
                                <i class="fas fa-users pull-left mt-1"></i>
                                Clean User Experience
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-code"></i></h1>
                        <h2>Code</h2>
                        <p>
                            Then we code your website using the latest technologies
                        </p>
                        <div class="list-group m-auto" style="width: 75%">
                            <h5>
                                <i class="fab fa-html5 pull-left mt-1"></i>
                                HTML
                            </h5>
                            <h5>
                                <i class="fab fa-angular pull-left mt-1"></i>
                                Angular
                            </h5>
                            <h5>
                                <i class="fab fa-react pull-left mt-1"></i>
                                React
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-desktop"></i></h1>
                        <h2>Test</h2>
                        <p>
                            Finally, we test your website. Ensuring that your site performs well without errors
                        </p>
                        <div class="list-group m-auto" style="width: 75%">
                            <h5>
                                <i class="fas fa-lock pull-left mt-1"></i>
                                Security
                            </h5>
                            <h5>
                                <i class="fas fa-tachometer-alt pull-left mt-1"></i>
                                Performance
                            </h5>
                            <h5>
                                <i class="fas fa-desktop pull-left mt-1"></i>
                                Usability
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h3 class="title">Custom Software</h3>
                <div class="row">
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-shopping-cart"></i></h1>
                        <h2>e-Commerce</h2>
                        <p>
                            We can integrate e-commerce functionality into your site with the latest payment methods
                            so you can concentrate on running your business
                        </p>
                    </div>
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-handshake"></i></h1>
                        <h2>CRM</h2>
                        <p>
                            Customer Relationship Management. CRM helps organisations streamline processes, build
                            customer relationships, increase sales, improve customer service, and increase
                            profitability.
                        </p>
                    </div>
                    <div class="col-md-4 pb-3">
                        <h1><i class="fas fa-newspaper"></i></h1>
                        <h2>CMS</h2>
                        <p>
                            Content Management Systems. Does your website's content need to change frequently?
                            We can implement a solution for management the content of your website seamlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator separator-primary"></div>
<div class="section-story-overview">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Previews</h2>
        <hr>
        <div class="row">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                    <img [src]="images[0]" alt="Nine Dart Finish Example Website">
                </ng-template>
                <ng-template ngbSlide>
                    <img [src]="images[1]" alt="Nine Dart Finish Example Website">
                </ng-template>
                <ng-template ngbSlide>
                    <img [src]="images[2]" alt="CMS Application driving a bands website">
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>

<div class="page-header page-header-small">
    <div class="page-header-image"
         style="background-color: black;">
    </div>
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <address class="h3">
                        <strong>PenPer Software</strong> <br>
                        20-22 Wenlock Road <br>
                        London <br>
                        N1 7GU <br>
                        <a href="mailto:info@penpersoftware.co.uk">
                            info@penpersoftware.co.uk
                        </a> <br>
                        07807240169
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
