<app-navbar></app-navbar>
<!-- End Navbar -->
<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image" data-parallax="true"
             style="background-image: url('../assets/logos/facebook_cover_photo_2.png');">
        </div>
        <div class="content-center">
            <div class="container">
            </div>
        </div>
    </div>
    <div class="section section-about-us" style="padding-bottom: 20px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are</h2>
                    <h5 class="description">
                        Founded in March, 2019 by Ashley Perera. We're a relatively new company, but that doesn't mean
                        we're not experienced. We product clean, concise web designs tailored to fit your exact needs.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                             style="background-image: url('./assets/img/NDF-example-1.png')">
                            <!-- First image on the left side -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                             style="background-image: url('./assets/img/NDF-example-2.png')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">What We Do</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <h1><i class="fas fa-pencil-alt"></i></h1>
                            <h2>Design</h2>
                            <p>
                                First we gather your requirements and branding to create the initial design for your
                                site.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1><i class="fas fa-code"></i></h1>
                            <h2>Code</h2>
                            <p>
                                Then we code your website using the latest technologies
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1><i class="fas fa-desktop"></i></h1>
                            <h2>Test</h2>
                            <p>
                                Finally, we test your website. Ensuring that your site performs well without errors
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header page-header-small">
        <div class="page-header-image"
             style="background-image: url('../assets/logos/facebook_cover_photo_2.png');">
        </div>
        <div class="content-center">
            <div class="container">
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Custom Software</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <h1><i class="fas fa-shopping-cart"></i></h1>
                            <h2>e-Commerce</h2>
                            <p>
                                We can integrate e-commerce functionality into your site with the latest payment methods
                                so you can concentrate on running your business

                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1><i class="fas fa-handshake"></i></h1>
                            <h2>CRM</h2>
                            <p>
                                Customer Relationship Management. CRM helps organisations streamline processes, build
                                customer relationships, increase sales, improve customer service, and increase
                                profitability.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h1><i class="fas fa-newspaper"></i></h1>
                            <h2>CMS</h2>
                            <p>
                                Content Management Systems. Does your website's content need to change frequently?
                                We can implement a solution for management the content of your website seamlessly.
                            </p>
                        </div>
                    </div>
                    <div class="section-story-overview">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image-container image-left"
                                     style="background-image: url('../assets/img/bandman-sign-in.png')">
                                    <!-- First image on the left side -->
                                </div>
                            </div>
                            <div class="col-md-5">
                                <!-- First image on the right side, above the article -->
                                <div class="image-container image-right"
                                     style="background-image: url('../assets/img/bandman-overview.png')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy; 2019, PenPer Software LTD
            </div>
        </div>
    </footer>

</div>
