<div class="page-header page-header-small">
    <div class="page-header-image"
         style="background-image: url('./assets/logos/facebook_cover_photo_2.png');">
    </div>
    <div class="content-center">
        <div class="container">
        </div>
    </div>
</div>
<div class="section section-about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Blog</h2>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">
                            <span class="badge badge-success">17/03/2019</span>
                            <br>
                            Why Single Page Applications are the way forward
                        </h3>
                    </div>
                    <div class="card-body truncate">
                        <p>
                            New technologies for creating clean single page applications have been emerging over the
                            last few years. We've seen Google release the AngularJS framework which was followed by the
                            newer Angular versions while Facebook has developed the React framework. Both of these
                            frameworks are now at the forefront of web development.
                        </p>
                        <h5>What is a Single Page Application?</h5>
                        <p>
                            SPAs are web applications that are loaded within the browser where minimal reloading is
                            required. You've probably used a SPA without even realising. Google's Gmail applicaion is
                            a perfect example of a single page application. Once the initial page has loaded, it is
                            initialized, the screen is loaded, and then all subsequent changes happen seamlessly without
                            reloading the entire page. The bonus of using SPAs means that assets and resources such as
                            images are only loaded once resulting in websites that will load quicker and perform better
                            even on the slowest of connections.
                        </p>
                        <h5>Pros</h5>
                        <ul>
                            <li>
                                Fast - HTML, CSS & Scripts are loaded once
                            </li>
                            <li>
                                Reusable - You can build smaller components to make up larger pages while reusing the
                                components elsewhere
                            </li>
                            <li>
                                Data is loaded on demand - only the data your require to display is loaded through
                                asyncronous calls.
                            </li>
                            <li>
                                We can use more animations to provide a much better user experience.
                            </li>
                            <li>
                                Mobile Friendly - We can use the same backend code with a mobile design rather than
                                re-writing for the specific purpose
                            </li>
                        </ul>
                        <h5>Cons</h5>
                        <ul>
                            <li>
                                SEO is tricky - Routes are dynamically rendered it's harder for web crawlers to scan
                                your site. A solution to this is to use server side rendering (a topic for another day)
                            </li>
                            <li>
                                Javascript is required - Although most browsers come with javascript activated, if it
                                isn't, your page just wont work
                            </li>
                            <li>
                                Browser buttons may not work well - due to the nature of SPAs the back and forward
                                functionality of your browser may not work as expected.
                            </li>
                        </ul>
                        <h5>Final Word</h5>
                        <p>
                            I believe SPAs provided the end user with a much more rich user experience compared to that
                            of a multi-page applications. Page / Data loading times could inhibit the user.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

